@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="BenderTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AuthorizeView Context="authContext">
	<Authorized>
		<MudLayout>
			<MudAppBar Elevation="1">
				<MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
				<MudSpacer />
				<MudHidden Breakpoint="Breakpoint.Xs" Invert="false">
					<MudContainer Class="d-flex flex-column justify-end align-end">
						<MudText Style="font-family:bender" Typo="Typo.h5" Class="ml-3">Fika Web Management</MudText>
						<MudText Typo="Typo.caption" Align="Align.Center">
							© @DateTime.Now.Year Project Fika. All rights reserved.
						</MudText>
					</MudContainer>
				</MudHidden>
				<MudImage Src="images/fika_logo.png" Elevation="25" Height="32" Width="32" Class="ml-2" />
			</MudAppBar>
			<MudDrawer id="nav-drawer" ClipMode="DrawerClipMode.Always" Elevation="2" Variant="DrawerVariant.Temporary">
				<NavMenu />
			</MudDrawer>
			<MudMainContent Class="mt-16 ma-2 pa-4">
				@Body
			</MudMainContent>
		</MudLayout>
	</Authorized>
	<NotAuthorized>
		<MudMainContent Class="mt-16 ma-2 pa-4">
			@Body
		</MudMainContent>
	</NotAuthorized>
</AuthorizeView>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
	MudTheme BenderTheme = new()
	{
		Typography = new()
		{
			Default = new DefaultTypography()
			{
				FontFamily = ["bender"]
			}
		},
		PaletteDark = new()
		{
			Primary = new("#807054"),
			Secondary = new("#992d22"),
			Background = new("#2d2d2d"),
			Surface = new("#323232"),
			DrawerBackground = new("#282828"),
			AppbarBackground = new("#232323"),
			BackgroundGray = new("#1e1e1e")
		}
	};
}


